<div class="flex flex-wrap gap-4 items-start justify-between p-6 border border-surface rounded-3xl">
  @for (card of statusCards; track $index) {
    <div class="flex items-center gap-3 p-4 border border-surface rounded-xl shadow-[0px_1px_2px_0px_rgba(18,18,23,0.05)] bg-emphasis w-full sm:w-60">
      <p-avatar [image]="card.avatarUrl" class="rounded-lg overflow-hidden w-14 h-14"></p-avatar>
      <div class="flex-1">
        <div [ngClass]="card.color" class="font-medium leading-7">{{ card.count }}</div>
        <div class="text-muted-color text-sm mt-1">{{ card.status }}</div>
      </div>
      <p-button class="hover:animate-ping" icon="pi pi-map-marker" [severity]="card.color" text></p-button>
    </div>
  }
</div>

<div class="flex flex-col gap-6 mt-6">

  <div class="flex gap-6 xl:flex-row flex-col">
    <div class="flex-3 border border-surface rounded-2xl px-5">
      <app-generic-table [data]="[]" [config]="tableConfig" title="All Vehicles" [showActions]="false"
        (onNew)="handleNew()" (onEdit)="handleEdit($event)" (onDelete)="handleDelete($event)"
        (onDeleteSelected)="handleDeleteSelected($event)" (onImport)="handleImport($event)"
        (onExport)="handleExport()" />
    </div>


    <div class="xl:w-96 flex-1 flex-col justify-between">
      <div class="h-96 rounded-2xl"
      leaflet
      [leafletOptions]="options"
      (leafletMapReady)="onMapReady($event)"
     >
    </div>
    </div>
  </div>


</div>