



<div class="mb-4 p-8 flex items-center justify-center">
  <p-card [style]="{ width: '25rem', overflow: 'hidden' }">
    <ng-template #header>
      <img alt="Card" class="w-full" src="https://primefaces.org/cdn/primeng/images/card-ng.jpg" />
    </ng-template>
    <ng-template #title> Advanced Card </ng-template>
    <ng-template #subtitle> Card subtitle </ng-template>
    <input type="text" pInputText formControlName="text" />
    <p-select [options]="cities" optionLabel="name" placeholder="Select a City" class="w-full md:w-56" />
    <p-multiselect display="chip" appendTo="body" [options]="cities" optionLabel="name" placeholder="Select Cities" [maxSelectedLabels]="3" styleClass="w-full md:w-80" />
        <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt
            quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque quas!
        </p>
        <ng-template #footer>
            <div class="flex gap-4 mt-1">
                <p-button label="Cancel" severity="secondary" class="w-full" [outlined]="true" styleClass="w-full" />
                <p-button label="Save" class="w-full" styleClass="w-full" />
            </div>
        </ng-template>
    </p-card>
</div>


<div class="card flex justify-center gap-2">
  <p-toast />
  <p-button type="button" pRipple (click)="showSuccess()" label="Success" severity="success" />
  <p-button type="button" pRipple (click)="showInfo()" label="Info" severity="info" />
  <p-button type="button" pRipple (click)="showWarn()" label="Warn" severity="warn" />
  <p-button type="button" pRipple (click)="showError()" label="Error" severity="danger" />
  <p-button type="button" pRipple (click)="showSecondary()" label="Secondary" severity="secondary" />
  <p-button type="button" pRipple (click)="showContrast()" label="Contrast" severity="contrast" />
</div>

<!-- <div class="landing-hero py-20 px-8 lg:px-20">

  <div class="bg-surface-0 border border-black/10 light:border-white/20 light:bg-surface-950 w-full h-[85vh] max-h-[1040px] rounded-3xl p-6 hidden lg:flex lg:mt-20 items-start gap-6 overflow-hidden">
    <div class="rounded-2xl p-5 bg-surface-50 light:bg-surface-900 h-full flex flex-col justify-between w-auto">
      Hello
      
    </div>
  </div>
</div> -->